#container {
    width: 640px;  /* 100% of viewport width */
    height: 640px; /* 100% of viewport height */
    display: flex;
    flex-wrap: wrap;
}

.square-grid {
    box-sizing: border-box;
    border: 1px solid red;
    width: 40px;    /* Divide viewport width by 16 */
    height: 40px;   /* Divide viewport height by 16 */
}